@charset "UTF-8";
@font-face {
    font-family: 'Billabong';
    src: url('/font/billabong.otf') format('opentype');
}

html {width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;} /* 기본 스크롤 제거 */
body {width: 100%; height: 100%; margin: 0; padding: 0; overflow-y: scroll; position: relative;}
.header_div {
	background: #ffffff;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 90px;
    z-index: 1000;
    text-align: center;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 5px;
}

.logo_div {
	display: inline-block;
	line-height: 60px;
	vertical-align: middle;
	width: 230px;
	margin-right: 200px;
	padding-top: 17px;
}

.logo_img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	float: left;
}

.logo_title {
	font-family: billabong;
	font-size: 48px;
	color: black;
	text-decoration: none;
}

.search_div {
	/*margin-right: 200px;*/
	margin-right: 245px;
	display: flex;
    align-items: center;
    background-color: #FBF9F9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px; 
	margin-top: 5px;
}

.search_input {
	width: 350px;
	height: 35px;
	margin: 0 auto;
	background-color: #FBF9F9;
	padding-left: 7px;
	border: none;
	outline: none;
	flex: 1;
	font-size: 12px;
	border-radius: 5px;
	color: #555555;
}

.search-btn {
	background: none;
    padding: 0;
    border: none;
    background-image: url('/img/search2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 7px;
}

input::placeholder {
	font-size: 12px;
}

.menu_div {
	display: flex;
    align-items: center;
    width: 230px;
    padding-left: 15px;
}

.menu_img {
	width: 25px;
	height: 25px;
	margin-right: 20px;
	cursor: pointer;
	flex-shrink: 0;
}

.header_profile_img {
	width: 27px;
	height: 27px;
	border-radius: 27px;
	cursor: pointer;
}

.menu_font {
	font-size: 14px;
	color: #555555;
	font-size: 12px;
}

.alarm_size {
	width: 400px;
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.alarm-prop-size {
	width: 398px;
	height: 60px;
	white-space: normal;
	display: flex;
	align-items: center;
}

.alarm_img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.alarm_time {
	width: 50px;
	margin-left: 10px;
	color: #7e7e7e;
}

.alarm_msg_span {
	width: 300px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.alarm_msg_span2 {
	width: 350px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}