@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.all_div {
    margin: 70px auto;
    width: 1100px;
    display: flex;
    margin-bottom: 60px;
    flex: 1;
}

.feed_div {
    margin-top: 61px;
    width: 600px;
    cursor: default;
}

.feed_profile_img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.feed_profile_img2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 7px;
    cursor: pointer;
}

.feed_profile_id {
    text-decoration: none;
    color: #555555;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
}

.feed_time {
    text-decoration: none;
    color: #7e7e7e;
    font-size: 14px;
    vertical-align: middle;
}

.feed_img_div {
    margin-top: 13px;
    border: 1px solid #d9d9d9;
    width: 600px;
    line-height: 0;
    max-height: 600px;
    overflow: hidden;
}

.feed_feed_img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.feed_icon_div {
    margin-top: 11.5px;
}

.feed_icon_heart_img {
    width: 29px;
    height: 25px;
    margin-right: 6px;
    cursor: pointer;
}

.feed_icon_reple_img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.like_div {
    margin-top: 9px;
    color: #555555;
    font-weight: bold;
    font-size: 14px;
}

.feed_content_div {
    margin-top: 5px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.feed_content_id {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
}

.feed_comment_id {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
    padding-top: 3px;
}

.feed_content_content {
    margin-left: 10px;
    color: #555555;
}

.feed_detail_btn_div {
    margin-top: 5px;
    font-size: 14px;
}

.feed_detail_btn {
    text-decoration: none;
    color: #7e7e7e;
    cursor: pointer;
}

.feed_comment_div {
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.feed_comment {
    display: inline-block;
    width: 557px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.feed_comment_comment {
    margin-left: 10px;
    color: #555555;
    padding-right: 5px;
    display: inline-block;
    width: 470px;
    margin-top: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.feed_comment_icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    width: 40px;
}

.feed_comment_icon_heart_img {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 7px;
}

.feed_comment_icon_heart_img2 {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 7px;
}

.feed_comment_icon_trash_img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.feed_comment_insert_div {
    margin-top: 10px;
}

.feed_comment_insert_input {
    border: none;
    outline: none;
    width: 576px;
    color: #555555;
    font-size: 14px;
}

.feed_comment_insert_icon_img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* 오른쪽 메뉴 */
.suggestion_div {
    width: 470px;
    margin-left: 30px;
    margin-top: 61px;
    cursor: default;
}

.id_and_name_div {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    padding-top: 1px;
}

.id_and_name_div2 {
	width: 312px;
}

.suggestion_follow_who:hover {
	overflow: visible;
}

.id_and_name_id, .suggestion_list_id {
    text-decoration: none;
    color: #555555;
    font-weight: bold;
    font-size: 14px;
}

.id_and_name_name {
    text-decoration: none;
    color: #555555;
    font-size: 13px;
}

.suggestion_follow_who {
	text-decoration: none;
    color: #555555;
    font-size: 13px;
}

.suggestion_list_msg_div {
    margin-top: 30px;
}

.suggestion_list_msg {
    color: #555555;
    font-weight: bold;
    font-size: 14px;
}

.more_suggested_follow {
	margin-left: 305px;
	color: #7e7e7e;
	cursor: pointer;
	text-decoration: none;
}

.suggestion_list_div {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 60px;
}

.img_and_id_and_name_div {
    display: flex;
    align-items: center;
}

.suggestion_list_follow_btn_div {
    width: 80px;
    float: right;
}

.suggestion_list_follow_btn {
    margin-left: auto;
    border: none;
	border-radius: 5px;
	background: #458eff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    line-height: 15px;
}

.suggestion_list_follow_del_btn {
	margin-left: auto;
    border: none;
	border-radius: 5px;
	background: #d9d9d9;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    line-height: 15px;
    color: #555555;
}

/* feed detail */
.feed_detail_div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    cursor: default;
    z-index: 1000;
}

.feed_detail_content_div {
    background-color: #ffffff;
    width: 1000px;
    height: 895px;
}

.feed_detail_close_btn {
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top: 0px;
    right: 10px;
}

.feed_detail_content_div {
    display: flex;
	align-items: center;
}

.feed_detail_img_div {
    width: 500px;
    line-height: 0;
    max-height: 895px;
    overflow: hidden;
}

.feed_detail_img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.feed_detail_content_content_div {
    width: 500px;
    height: 895px;
    position: relative;
    font-size: 14px;
    border-left: 1px solid #d9d9d9;
}

.feed_detail_info_div {
    border-bottom: 1px solid #d9d9d9;
    height: 70px;
    display: flex;
    align-items: center;
}

.feed_detail_info_span {
    width: 460px;
    margin-top: 5px;
    margin-left: 10px;
}

.feed_detail_profile_img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-left: 10px;
    cursor: pointer;
}

.feed_detail_more_view_btn_div {
    width: 40px;
}

.feed_detail_more_view_btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.feed_detail_content_content_p {
    padding: 10px;
    color: #555555;
    width: 500px;
    max-height: 300px;
    overflow: auto;
    margin-left: 10px;
    margin-top: 5px;
}

.feed_detail_content_content_p::-webkit-scrollbar {
    display: none;
}

.feed_detail_content_time_div {
    padding-left: 20px;
    font-size: 12px;
    color: #7e7e7e;
}

.feed_detail_content_comment_div {
    width: 500px;
    margin-top: 20px;
    max-height: 300px;
    overflow: auto;
}

.feed_detail_content_comment_div::-webkit-scrollbar {
    display: none;
}

.feed_detail_comment_div {
    display: flex;
}

.feed_detail_comment {
    width: 435px;
    margin-top: 10px;
    margin-left: 10px;
}

.feed_detail_profile_comment_img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-left: 10px;
    vertical-align: top;
    cursor: pointer;
}

.feed_detail_comment_icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    width: 40px;
}

.feed_detail_comment_time_like_div {
    margin-top: 5px;
    margin-left: 70px;
    margin-bottom: 10px;
    color: #7e7e7e;
    font-size: 12px;
}

.feed_detail_comment_write_div {
    width: 500px;
    height: 150px;
    border-top: 1px solid #d9d9d9;
    position: absolute;
    bottom: 0;
}

.feed_detail_comment_id {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
    margin-right: 7px;
}

.feed_detail_comment_id2 {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
    margin-right: 12px;
}

.feed_detail_comment_comment {
    margin-left: 10px;
    color: #555555;
    padding-right: 5px;
    display: inline-block;
    width: 370px;
    margin-top: 5px;
}

.feed_detail_comment_comment2 {
    margin-left: 15px;
    color: #555555;
    padding-right: 5px;
    display: inline-block;
    width: 370px;
    margin-top: 5px;
}

.feed_detail_icon_div {
    margin-top: 15.5px;
    margin-left: 20px;
}

.feed_detail_like {
    margin-top: 10px;
    margin-left: 20px;
    color: #555555;
    font-weight: bold;
}

.feed_comment_insert_input::placeholder, .feed_detail_comment_insert_input::placeholder {
	font-size: 14px;
}

.feed_detail_comment_input {
    margin-top: 30px;
    margin-left: 18px;
}

.feed_detail_comment_insert_input {
    border: none;
    outline: none;
    width: 448px;
    color: #555555;
}

.scroll_to_top_btn {
    position: fixed;
    bottom: 40px;
    right: 50px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    cursor: pointer;
}

.suggestedFollowList {
	cursor: pointer;
}

.menu_font {
	cursor: pointer;
}

.first_following {
	text-decoration: none;
	color: #555555;
	font-size: 12px;
}