@charset "UTF-8";
@font-face {
    font-family: 'Billabong';
    src: url('/font/billabong.otf') format('opentype');
}

.signup_form {
	margin-top: 150px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 500px;
	border: 1px solid #d9d9d9;
	cursor: default;
}

.title {
	font-family: billabong;
	font-size: 64px;
	text-align: center;
	margin-top: 49px;
}

.title_msg {
	text-decoration: none;
	color: black;
}

.signup_msg_div {
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #555555;
}

.input_div {
	margin-top: 11px;
}

/* textbox */
.name_input {
	width: 280px;
	height: 40px;
	padding: 10px;
	border: 1px solid #d9d9d9;
	background: #fbf9f9;
	border-radius: 3px;
}

.id_input, .pwd_input, .pwd_chk_input {
	width: 280px;
	height: 40px;
	padding: 10px;
	border: 1px solid #d9d9d9;
	background-color: #FBF9F9;
	border-radius: 3px;
}

/* 아이디 또는 비밀번호 사용 가능시 */
.available_it {
	width: 280px;
	height: 40px;
	padding: 10px;
	border-radius: 3px;
	background-color: #FBF9F9;
	background-image: url('/img/check.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 252px center;
}

/* 아이디 또는 비밀번호 사용 불가시 */
.unavailable_it {
	width: 280px;
	height: 40px;
	padding: 10px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	background-color: #FBF9F9;
	background-image: url('/img/x.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 252px center;
}

input::placeholder {
	font-size: 12px;
}

.signup_btn_div {
	text-align: center;
	margin-top: 11px;
}

.signup_btn {
	border: none;
	border-radius: 5px;
	background: #458eff;
	width: 280px;
	height: 35px;
}

.login_div {
	margin: 9px auto;
	margin-bottom: 130px;
	border: 1px solid #d9d9d9;
	width: 400px;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	cursor: default;
	color: #555555;
}

.login_btn {
	color: #458eff;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}