<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catstagram.mapper.CommentLikeMapper">
	<!-- 피드 댓글 좋아요 -->
	<insert id="likeFeedComment" parameterType="com.catstagram.commentLike.model.CommentLikeDTO">
		insert into
			catstagram_comment_like
		values
			(catstagram_comment_like_idx.nextval, #{comment_idx}, #{member_idx}, sysdate)
	</insert>
	
	<!-- 피드 댓글 좋아요 취소 -->
	<delete id="likeFeedCommentCancel" parameterType="com.catstagram.commentLike.model.CommentLikeDTO">
		delete from
			catstagram_comment_like
		where
			comment_idx = #{comment_idx} and member_idx = #{member_idx}
	</delete>
	
	<!-- 내가 이 댓글에 좋아요를 눌렀는지 여부 -->
	<select id="feedLikeCommentYN" parameterType="com.catstagram.commentLike.model.CommentLikeDTO">
		select comment_like_idx from catstagram_comment_like where comment_idx = #{comment_idx} and member_idx = #{member_idx}
	</select>
</mapper>