<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catstagram.mapper.CommentMapper">
	<!-- 피드(게시글) 댓글 목록 -->
	<select id="feedCommentList" parameterType="Integer" resultType="com.catstagram.comment.model.CommentDTO">
		select
			c.comment_idx, c.feed_idx, c.member_idx, c.comment_content, c.comment_like_count, c.comment_date,
			m.member_id, m.member_img,
			trunc((sysdate-c.comment_date) * 24 * 60) as comment_date_minute
		from
			catstagram_comment c, catstagram_member m
		where
			c.member_idx = m.member_idx and feed_idx = #{feed_idx}
		order by
			c.comment_date asc
	</select>

	<!-- 피드(게시글) 댓글 작성 -->
	<insert id="feedCommentInsert" parameterType="com.catstagram.comment.model.CommentDTO">
		insert into
			catstagram_comment
		values
			(catstagram_comment_idx.nextval, #{feed_idx}, #{member_idx}, #{feed_content}, 0, sysdate)
	</insert>
</mapper>