<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catstagram.mapper.FeedMapper">
	<!-- 피드 등록 -->
	<insert id="feedWrite" parameterType="com.catstagram.feed.model.FeedDTO">
		insert into
			catstagram_feed
		values
			(catstagram_feed_idx.nextval, #{member_idx}, #{feed_img}, #{feed_content}, 0, sysdate)
	</insert>
</mapper>