<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catstagram.mapper.FeedLikeMapper">
	<!-- 피드 좋아요 -->
	<insert id="likeFeed" parameterType="com.catstagram.feedLike.model.FeedLikeDTO">
		insert into
			catstagram_feed_like
		values
			(catstagram_feed_like_idx.nextval, #{feed_idx}, #{member_idx}, sysdate)
	</insert>
	
	<!-- 피드 좋아요 취소 -->
	<delete id="likeFeedCancel" parameterType="com.catstagram.feedLike.model.FeedLikeDTO">
		delete from
			catstagram_feed_like
		where
			feed_idx = #{feed_idx} and member_idx = #{member_idx}
	</delete>
	
	<!-- 내가 이 피드에 좋아요를 눌렀는지 여부 -->
	<select id="feedLikeYN" parameterType="com.catstagram.feedLike.model.FeedLikeDTO">
		select feed_like_idx from catstagram_feed_like where feed_idx = #{feed_idx} and member_idx = #{member_idx}
	</select>
</mapper>