<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catstagram.mapper.FollowMapper">
	<!-- 팔로잉(친구추가) -->
	<insert id="following" parameterType="com.catstagram.follow.model.FollowDTO">
		insert into
			catstagram_follow
		values
			(catstagram_follow_idx.nextval, #{member_from}, #{member_to})
	</insert>
	
	<!-- 팔로잉 취소(친구삭제) -->
	<delete id="cancelFollowing" parameterType="com.catstagram.follow.model.FollowDTO">
		delete from
			catstagram_follow
		where
			member_from = #{member_from} and member_to = #{member_to}
	</delete>
	
	<!-- 팔로워 목록(나를 친구 추가한 사람) -->
	<select id="followerList" parameterType="Integer" resultType="com.catstagram.follow.model.FollowDTO">
		select
			m.member_idx, m.member_id, m.member_name, m.member_img
		from
			catstagram_follow f, catstagram_member m
		where
			f.member_from = m.member_idx and f.member_to = #{sidx}
	</select>
</mapper>