<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catstagram.mapper.FollowMapper">
	<!-- 팔로잉(친구추가) -->
	<insert id="following" parameterType="com.catstagram.follow.model.FollowDTO">
		insert into
			catstagram_follow
		values
			(catstagram_follow_idx.nextval, #{member_from}, #{member_to})
	</insert>
	
	<!-- 팔로잉 취소(친구삭제) -->
	<delete id="cancelFollowing" parameterType="com.catstagram.follow.model.FollowDTO">
		delete from
			catstagram_follow
		where
			member_from = #{member_from} and member_to = #{member_to}
	</delete>
	
	<!-- 나를 팔로워한(친구 추가한) 사람을 팔로워 목록에서 삭제 -->
	<delete id="delFollower" parameterType="Map">
		delete from catstagram_follow where member_from = #{member_from} and member_to = #{member_to}
	</delete>
</mapper>