<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catstagram.mapper.MemberMapper">
	<select id="idCheck" parameterType="String" resultType="String">
		select member_id from catstagram_member where member_id = #{id}
	</select>
	
	<insert id="signup" parameterType="com.catstagram.member.model.MemberDTO">
		insert into
			catstagram_member
		values
			(catstagram_member_idx.nextval, #{member_id}, #{member_name}, #{member_pwd}, '', '', '', sysdate, 'n')
	</insert>
	
	<select id="login" parameterType="String" resultType="com.catstagram.member.model.MemberDTO">
		select member_idx, member_pwd, member_quit from catstagram_member where member_id = #{id}
	</select>
	
	<select id="sessionInfo" parameterType="String" resultType="com.catstagram.member.model.MemberDTO">
		select member_idx, member_id from catstagram_member where member_id = #{id}
	</select>
	
	<select id="searchList" parameterType="Map" resultType="com.catstagram.member.model.MemberDTO">
		select member_id, member_name, member_img from catstagram_member where member_id like '%'||#{search_id}||'%' and member_id <![CDATA[<>]]> #{member_id}
	</select>
</mapper>